* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../public/images/hederImg.png");
  box-shadow: inset 0 0 0 200rem rgba(21, 20, 20, 0.25);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header > nav {
  padding: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hamburger {
  display: none;
}
.nav-right {
  display: flex;
  gap: 1rem;
  margin-right: 3rem;
}
.nav-right > div > button,
.nav-right > button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  cursor: pointer;
}
.nav-right > button:nth-child(4) {
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
  padding: 0 2rem;
}

.nav-right > div > button:hover,
.nav-right > button:hover,
.footer-button button:hover {
  background-color: #f0f8ff;
  color: black;
  cursor: pointer;
}
.header-Text {
  margin-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 700;
}
.header-Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translate(15%, 90%);
  gap: 0.3rem;
  background: linear-gradient(
    94.43deg,
    rgba(249, 249, 249, 0.49) 34.95%,
    rgba(249, 249, 249, 0.175) 67.01%
  );
  backdrop-filter: blur(10px);
  border: linergradient(#ffffff 100%, #ffffff 40%);
  color: #6d6d6d;
  height: 15%;
  border-radius: 30px;
  padding: 1rem;
  width: 75%;
}
.header-Footer > div {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
  background: #ffffff;
  border-radius: 16px;
  flex: 1;
  height: 3rem;
  width: 1rem;
}
.header-Footer > div > label {
  margin-bottom: 0.3rem;
  color: black;
}
.header-Footer > div:nth-child(4) {
  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  justify-content: center;
  align-items: center;
  flex: 1;
}
.search {
  background: none;
  border: none;
  display: flex;
  gap: 0.3rem;
  font-weight: 500;
  color: #ffffff;
  font-size: 2rem;
  width: auto;
}
.header > img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#Date,
select {
  border: none;
}
#Date:focus,
select:focus {
  outline: none;
}
.dropdown {
  transform: translate(50%, 70%);
  margin-top: 2rem;
}
.dropdown img {
  height: 50px;
  width: 60px;
}

.About,
.Explore {
  margin: 5rem 4.3rem;
}
.Explore > h1 {
  font-size: 4rem;
}
.Explore > p {
  margin: 2rem 0;
}
.Card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.About-content img,
.Card img {
  width: 100%;
}

.About-content,
.Card > div {
  position: relative;
}
.card-nav {
  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 1rem;
  transform: translate(40%, -50%);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-nav > div > button,
.card-nav > button {
  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border-radius: 10px;
  border: none;
  margin: 0.3rem;
  padding: 0.5rem 1.3rem;
}
.card-nav > button {
  padding: 0.8rem 2rem;
}
.About {
  margin-top: 2rem;
}
.About > p {
  margin-bottom: 2rem;
}
.About-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}
.About-content > div:nth-child(even) {
  transform: translateY(15%);
}

.About-description {
  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 1rem;
  transform: translate(10%, -50%);
  width: 80%;
}
footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.footer-button > button {
  background: none;
  border: none;
  padding: 0.5rem 3rem;
  font-size: 20px;
  font-weight: 500;
  margin-right: 3rem;
}
.footer-button > button:nth-child(4) {
  border: 1px solid black;
  border-radius: 0.5rem;
}
.footer-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-description p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5rem;
}

@media (max-width: 600px) {
  .hamburger {
    display: inline;
  }
  .nav-right {
    display: none;
  }
  .header-Text>h1{
    font-size:2rem;
  }
  .header-Text>p{
    font-size:1rem;
  }
  .header{
    height:100%;
  }
  .header-Footer {
    display:grid;
    background: linear-gradient(
      94.43deg,
      rgba(249, 249, 249, 0.49) 34.95%,
      rgba(249, 249, 249, 0.175) 67.01%
    );;
    height:fit-content;
    transform:translate(20%,10%);
    
  }
  .header-Footer>div{
    height:50px;
    width:100%;
    padding:0 3rem;
  }
  .header>img{
    display:none;
  }
}
